#logo{
    width: 100px;
    margin-left: 10px;
}
header{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 0%;
    height: 10%;
    padding-top: 20px;
}

nav{
    width: 100%;
    align-items: center;
}

#menu a{
    margin-left: 50px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

#menu a:hover{
    cursor: pointer;
    color: rgba(48, 48, 48, 0.692);
    transition: 0.2s;
    font-size: 20px;
}

body{
    background-image: url(../img/2.png);
}

#clinica{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-left: 20%;
}

#c1 img{
    width: 300px;
    padding-left: 5%;
    border-radius: 5px;
}

#c1 img:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.3s;
}

#seta{
    padding-left: 5%;
    padding-right: 5%;
}

#c2 img{
    width: 200px;
    border-radius: 5px;
}

#c2 img:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.3s;
}

#bolas{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#local{
    padding-right: 6%;
    padding-top: 6%;
    padding-left: 4%;
}

#local p{
    padding-left: 95px;
    font-size: 15px;
}

#preco{
    padding-left: 16%;
}

#preco p{
    padding-left: 110px;
    font-size: 15px;
}

#doutora{
    padding-right: 20%;
}

#doutora p{
    padding-left: 105px;
    font-size: 15px;
}