body{
    background: linear-gradient(rgb(199, 240, 242),rgb(64, 144, 157));
    font-family:Georgia, 'Times New Roman', Times, serif

}

form{
    background-color: rgba(37, 105, 109, 0.6);
    padding: 5%;
    width: 45%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    

}

h1{
    margin-bottom: 2%
}

input{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 10px;
}

.login-input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#btn{
    width: 100%;
    height: 50px;
    background-color: rgb(40, 143, 228);
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-size: large;
    cursor: pointer;
    padding: 10px;
    
}

#btn:hover{
    background-color: rgb(1, 34, 95);
    transition-duration: 0.4s;
}

main{
    display: flex;
    justify-content: center;
    color: white;

}



#logo{
    width: 150px;
    margin: 0px;
    border-radius: 25px;
}

#cadastro{
    width: 70%;   
}