#logo{
    width: 110px;
    margin-left: 10px;
}
  header{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: none;
  }
  nav{
    margin-left: 80px;
  }
  a{
    color:rgb(12, 12, 12);
    text-decoration: none;
  }

  #nav2{
    margin-left: 60%;
      
  }
  #sinopse{
    width: 40%;
    text-align: justify;
    padding: 25px;
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 200px;
    padding: auto;
   
  }

 body{
  background-image: url(../img/é.png)

}

a:hover{
  cursor: pointer;
  color: rgba(48, 48, 48, 0.692);
  transition: 0.2s;
  font-size: 30px;
}

#musicas{
  display: flex;
}
#musicas img{
  width: 250px;
  margin: 35px;
  border-radius: 5px;
} 
 
#musicas  img:hover{
  width: 300px;
  transform:scale(1,1) ;
  transition-duration: 0.3s;
}
       
#musicas2{
  display: flex;
}

#musicas2 img{
  width: 250px;
  margin: 35px;
  border-radius: 5px;
} 

#musicas2  img:hover{
  width: 300px;
  transform:scale(1,1) ;
  transition-duration: 0.3s;
}


