#logo_primaria{
    width: 85px;
    display: flex;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(130, 210, 223, 0.6)
}

#mulher{
    width: 300px;
    margin-top: 30px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}

#cuidado{
    width: 300px;
    display: flex;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 10px;
}

#beneficios{
    display: flex;
    width: 30%;
    text-align: justify;
    margin-bottom: none;
    padding: 20px;
    padding-left: 200px;
    margin-top: 25px;
}

#motivacional{
    background-color: rgb(64, 144, 157,0.2);
    border-radius: 5px;
    width: 40%;
    padding: 20px;
    padding-top: 60px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    margin-left: 28%;
}

#vindo{
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../img/3.png);
    border: none;
    margin: 1px;
}

html{
    margin: none;
}

#logo{
    width: 100px;
}

nav{
    width: 200%;
    font-family: Arial, Helvetica, sans-serif;
}

#nav_2{
    margin-left: 20%;
}

.fonte{
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.fonte{
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 20px;  
}

a:hover{
    cursor: pointer;
    color: rgba(48, 48, 48, 0.692);
    transition: 0.2s;
    font-size: 20px;
}