body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../img/2.png);
    display: flex;
    margin: 0%;
    justify-content: center;
    align-items: center;
}

#caixa{
    background-color: rgba(255, 255, 255, 0.44);
    width: 400px;
    height: 600px;
    padding-top: 5%;
    border-radius: 10px;
}

#perfil{
    width: 150px;
}

h1{
    font-size: 25px;
}

#info{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-right: 35%;
    margin-left: 35%;
    font-size: 15px;
    color: grey;
}

#sobre{
    padding-top: 5%;
}

#editar{
    background-color: rgb(102, 177, 196);
    border: none;
    border-radius: 5px;
}

#lapis{
    width: 10px;
}

#a{
    text-decoration: none;
}

#redes a {
    text-decoration: none;
}

#redes a {
    color: #000; 
    font-size: 16px; 
    margin: 0 10px; 
}
