/* Estilo global */
body {
  background-image: url('../img/2.png');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Cabeçalho */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 10vh;
  padding: 20px 10px;
  background-color: rgba(130, 210, 223, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
  width: 100px;
  margin-right: 20px;
}

#nav-main {
  display: flex;
  gap: 20px;
  align-items: center;
}

#nav-main a {
  text-decoration: none;
  color: black;
  transition: color 0.2s, font-size 0.2s;
}

#nav-main a:hover {
  color: rgba(48, 48, 48, 0.8);
  font-size: 20px;
}

/* Seções principais */
#sinopse {
  padding: 2% 10%;
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#sinopse h1 {
  margin-bottom: 10px;
}

#videos-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 2% 10%;
}

#videos-gallery a {
  display: block;
}

#videos-gallery img {
  width: 250px;
  border-radius: 5px;
  transition: transform 0.3s;
}

#videos-gallery img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  #sinopse {
      padding: 5% 2%;
  }

  #videos-gallery {
      flex-direction: column;
      align-items: center;
  }

  #videos-gallery img {
      width: 80%;
  }
}
